<footer>
	<div class="bg-dark">
		<div class="container mx-auto px-4 pt-12 pb-32">
			<p class="text-xs max-w-md text-white">Funded by the European Union. Views and opinions expressed are however
				those of the author(s) only and do not necessarily reflect those of the
				European Union or the European Education and Culture Executive Agency (EACEA). Neither the European Union nor EACEA can be held responsible
				for them.</p>
		</div>
	</div>
</footer>
