<footer
  class="mt-8 relative pt-5 after:content-[''] after:bg-triangle-background after:bg-repeat-x after:absolute after:top-[-1.75rem] after:left-0 after:w-full after:h-12 after:bg-center after:bg-[length:6rem_3rem]"
>
  <div class="bg-dark">
    <div class="container px-4 pt-12 pb-32 mx-auto">
      <div
        class="flex flex-col lg:justify-between items-center lg:items-start text-center lg:text-left"
      >
        <div class="flex flex-col lg:flex-row gap-2.5">
          <img
            src="/co_funded_eu.png"
            alt=""
            class="self-start max-w-64 lg:w-64 shrink-0 mx-auto lg:mx-0"
          />
          <p class="max-w-md text-xs text-white shrink-0">
            Funded by the European Union. Views and opinions expressed are
            however those of the author(s) only and do not necessarily reflect
            those of the European Union or the European Education and Culture
            Executive Agency (EACEA). Neither the European Union nor EACEA can
            be held responsible for them.
          </p>
        </div>
        <div
          class="flex items-center self-start justify-center w-full mt-16 space-x-4 text-white"
        >
          <a href="/privacy-policy" class="text-sm text-white font-display"
            >Privacy Policy</a
          >
          <span>|</span>
          <a
            href="mailto:info@emguide.hu"
            class="text-sm text-white font-display">info@emguide.hu</a
          >
        </div>
      </div>
    </div>
  </div>
</footer>
