---
import HeaderLink from "./HeaderLink.astro";
---

<header
  class="fixed z-20 flex w-full mx-auto bg-white lg:container lg:relative lg:bg-transparent"
>
  <nav class="flex items-center justify-between w-full px-4 py-8">
    <!-- <h2><a href="/">{SITE_TITLE}</a></h2> -->
    <a href="/">
      <svg
        class="w-56 h-auto mb-4 lg:w-72"
        viewBox="0 0 288 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M87.8308 0.52565H77.4C75.8308 1.98629 76.8 3.83643 78.1385 3.83643H80.3077L68.7692 16.0084L54.0923 0.52565L39.4154 16.0084L24.7385 0.52565L3.13846 23.3116V20.0495C1.75384 18.3941 0 19.4166 0 20.8285V31.053H10.4308C12 29.5924 11.0308 27.7422 9.69231 27.7422H7.4769L19.0154 15.5702L33.6923 31.053L36.8769 27.6935L48.3231 15.6189L63 31.1017L84.6462 8.26702V11.5778C86.0308 13.2332 87.7846 12.2107 87.7846 10.7988V0.52565H87.8308Z"
          fill="#FF6EB7"></path>
        <path
          d="M107.03 19.5626H118.8V15.8137H107.03L106.292 10.9936H119.492V6.95247H101.261L102.877 17.7125L101.261 28.4725H119.63V24.4314H106.292L107.03 19.5626Z"
          fill="#1A1A1A"></path>
        <path
          d="M226.338 19.0271C226.338 20.1956 226.108 21.1693 225.692 21.997C225.277 22.8247 224.677 23.4577 223.846 23.8959C223.062 24.3341 222.046 24.5775 220.892 24.5775C219.738 24.5775 218.769 24.3341 217.985 23.8959C217.2 23.4577 216.554 22.8247 216.138 21.997C215.723 21.1693 215.492 20.1956 215.492 19.0271V6.95247H210.877V19.2705C210.877 21.218 211.292 22.8734 212.123 24.334C212.954 25.7947 214.154 26.9145 215.631 27.6935C217.108 28.5212 218.862 28.9107 220.846 28.9107C222.831 28.9107 224.585 28.5212 226.108 27.6935C227.631 26.8658 228.785 25.746 229.615 24.334C230.446 22.8734 230.862 21.218 230.862 19.2705V6.95247H226.246V19.0271H226.338Z"
          fill="#1A1A1A"></path>
        <path
          d="M240.184 6.95247H235.569V28.4725H240.184V6.95247Z"
          fill="#1A1A1A"></path>
        <path
          d="M260.954 8.26704C259.154 7.39065 257.077 6.90378 254.723 6.90378H245.031V28.4239H254.723C257.077 28.4239 259.2 27.9857 260.954 27.0606C262.754 26.1842 264.138 24.9183 265.108 23.263C266.123 21.6562 266.585 19.7574 266.585 17.6151C266.585 15.4729 266.077 13.574 265.108 11.9673C264.138 10.3606 262.754 9.19211 260.954 8.26704ZM261.138 21.072C260.585 22.0458 259.754 22.8247 258.738 23.3603C257.677 23.8959 256.477 24.188 255.092 24.188H249.646V11.2857H255.092C256.477 11.2857 257.677 11.5778 258.738 12.1134C259.8 12.649 260.585 13.3793 261.138 14.353C261.692 15.3268 261.969 16.4466 261.969 17.7612C261.969 18.9784 261.692 20.0982 261.138 21.072Z"
          fill="#1A1A1A"></path>
        <path
          d="M274.661 24.4314L275.353 19.5626H287.169V15.8137H275.353L274.661 10.9936H287.861V6.95247H269.63L271.2 17.7125L269.63 28.4725H288V24.4314H274.661Z"
          fill="#1A1A1A"></path>
        <path
          d="M169.246 7.00114V28.5212H164.861V11.3831V11.3344V11.3831L148.707 28.5212H143.907L127.8 11.3831V28.5212H123.415V7.00114H130.338L146.307 23.8472L162.184 7.09853L162.138 7.00114H169.246Z"
          fill="#1A1A1A"></path>
        <path
          d="M206.815 17.5664V26.6711C206.815 27.6448 206.077 28.4238 205.154 28.4238C204.231 28.4238 203.492 27.6448 203.492 26.6711V24.7722C203.261 25.1131 202.754 25.6486 202.477 25.9408C201.6 26.8658 200.585 27.5474 199.338 28.083C198.092 28.6186 196.615 28.862 195 28.862C193.385 28.862 191.908 28.6186 190.523 28.083C189.138 27.5961 187.938 26.8658 186.877 25.8921C185.815 24.9183 185.031 23.7498 184.431 22.3865C183.831 21.0233 183.554 19.4166 183.554 17.6638C183.554 15.911 183.831 14.353 184.431 12.9411C185.031 11.5778 185.861 10.3606 186.877 9.43553C187.938 8.46177 189.138 7.73145 190.569 7.24457C192 6.75769 193.523 6.46558 195.185 6.46558C197.354 6.46558 199.246 6.80637 200.861 7.53669C202.477 8.26701 203.769 9.24078 204.738 10.5067C205.754 11.7726 206.354 13.2332 206.585 14.8399H201.923C201.738 13.9635 201.369 13.1845 200.723 12.5516C200.123 11.9186 199.338 11.4317 198.415 11.0909C197.492 10.7501 196.385 10.5553 195.185 10.5553C193.754 10.5553 192.508 10.8475 191.446 11.383C190.384 11.9186 189.6 12.7463 189.046 13.7688C188.492 14.8399 188.215 16.1058 188.215 17.6151C188.215 19.1244 188.492 20.439 189.092 21.5101C189.692 22.5813 190.523 23.409 191.631 23.9445C192.738 24.5288 194.031 24.7722 195.554 24.7722C197.031 24.7722 198.323 24.5288 199.431 24.0419C200.538 23.555 201.415 22.8734 202.061 21.997C202.292 21.7049 202.431 21.3641 202.615 21.0233H197.861C196.984 21.0233 196.246 20.293 196.2 19.3679V19.1731C196.246 18.2481 196.984 17.469 197.861 17.469H206.815V17.5664Z"
          fill="#1A1A1A"></path>
      </svg>
    </a>
    <button id="em_navigation_button" class="relative z-20 w-8 h-8 lg:hidden">
      <span class="sr-only">Open main menu</span>
      <div class="block w-8">
        <span
          aria-hidden="true"
          class="block absolute h-0.5 w-8 bg-dark transform transition duration-500 ease-in-out -translate-y-1.5"
        ></span>
        <span
          aria-hidden="true"
          class="block absolute h-0.5 w-8 bg-dark transform transition duration-500 ease-in-out"
        ></span>
        <span
          aria-hidden="true"
          class="block absolute h-0.5 w-8 bg-dark transform transition duration-500 ease-in-out translate-y-1.5"
        ></span>
      </div>
    </button>
    <div
      id="em_navigation"
      class="fixed top-0 left-0 flex flex-col w-full h-full gap-4 pt-8 pl-4 pr-4 transition-opacity ease-in-out opacity-0 pointer-events-none lg:opacity-100 -z-10 lg:z-0 lg:flex-row lg:w-auto lg:p-0 bg-accent lg:bg-transparent lg:static lg:flex lg:gap-menu lg:items-center font-display lg:pointer-events-auto"
    >
      <a href="/">
        <svg
          class="w-56 h-auto mb-4 lg:w-72 lg:hidden"
          viewBox="0 0 288 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M87.8308 0.52565H77.4C75.8308 1.98629 76.8 3.83643 78.1385 3.83643H80.3077L68.7692 16.0084L54.0923 0.52565L39.4154 16.0084L24.7385 0.52565L3.13846 23.3116V20.0495C1.75384 18.3941 0 19.4166 0 20.8285V31.053H10.4308C12 29.5924 11.0308 27.7422 9.69231 27.7422H7.4769L19.0154 15.5702L33.6923 31.053L36.8769 27.6935L48.3231 15.6189L63 31.1017L84.6462 8.26702V11.5778C86.0308 13.2332 87.7846 12.2107 87.7846 10.7988V0.52565H87.8308Z"
            fill="#FFF"></path>
          <path
            d="M107.03 19.5626H118.8V15.8137H107.03L106.292 10.9936H119.492V6.95247H101.261L102.877 17.7125L101.261 28.4725H119.63V24.4314H106.292L107.03 19.5626Z"
            fill="#1A1A1A"></path>
          <path
            d="M226.338 19.0271C226.338 20.1956 226.108 21.1693 225.692 21.997C225.277 22.8247 224.677 23.4577 223.846 23.8959C223.062 24.3341 222.046 24.5775 220.892 24.5775C219.738 24.5775 218.769 24.3341 217.985 23.8959C217.2 23.4577 216.554 22.8247 216.138 21.997C215.723 21.1693 215.492 20.1956 215.492 19.0271V6.95247H210.877V19.2705C210.877 21.218 211.292 22.8734 212.123 24.334C212.954 25.7947 214.154 26.9145 215.631 27.6935C217.108 28.5212 218.862 28.9107 220.846 28.9107C222.831 28.9107 224.585 28.5212 226.108 27.6935C227.631 26.8658 228.785 25.746 229.615 24.334C230.446 22.8734 230.862 21.218 230.862 19.2705V6.95247H226.246V19.0271H226.338Z"
            fill="#1A1A1A"></path>
          <path
            d="M240.184 6.95247H235.569V28.4725H240.184V6.95247Z"
            fill="#1A1A1A"></path>
          <path
            d="M260.954 8.26704C259.154 7.39065 257.077 6.90378 254.723 6.90378H245.031V28.4239H254.723C257.077 28.4239 259.2 27.9857 260.954 27.0606C262.754 26.1842 264.138 24.9183 265.108 23.263C266.123 21.6562 266.585 19.7574 266.585 17.6151C266.585 15.4729 266.077 13.574 265.108 11.9673C264.138 10.3606 262.754 9.19211 260.954 8.26704ZM261.138 21.072C260.585 22.0458 259.754 22.8247 258.738 23.3603C257.677 23.8959 256.477 24.188 255.092 24.188H249.646V11.2857H255.092C256.477 11.2857 257.677 11.5778 258.738 12.1134C259.8 12.649 260.585 13.3793 261.138 14.353C261.692 15.3268 261.969 16.4466 261.969 17.7612C261.969 18.9784 261.692 20.0982 261.138 21.072Z"
            fill="#1A1A1A"></path>
          <path
            d="M274.661 24.4314L275.353 19.5626H287.169V15.8137H275.353L274.661 10.9936H287.861V6.95247H269.63L271.2 17.7125L269.63 28.4725H288V24.4314H274.661Z"
            fill="#1A1A1A"></path>
          <path
            d="M169.246 7.00114V28.5212H164.861V11.3831V11.3344V11.3831L148.707 28.5212H143.907L127.8 11.3831V28.5212H123.415V7.00114H130.338L146.307 23.8472L162.184 7.09853L162.138 7.00114H169.246Z"
            fill="#1A1A1A"></path>
          <path
            d="M206.815 17.5664V26.6711C206.815 27.6448 206.077 28.4238 205.154 28.4238C204.231 28.4238 203.492 27.6448 203.492 26.6711V24.7722C203.261 25.1131 202.754 25.6486 202.477 25.9408C201.6 26.8658 200.585 27.5474 199.338 28.083C198.092 28.6186 196.615 28.862 195 28.862C193.385 28.862 191.908 28.6186 190.523 28.083C189.138 27.5961 187.938 26.8658 186.877 25.8921C185.815 24.9183 185.031 23.7498 184.431 22.3865C183.831 21.0233 183.554 19.4166 183.554 17.6638C183.554 15.911 183.831 14.353 184.431 12.9411C185.031 11.5778 185.861 10.3606 186.877 9.43553C187.938 8.46177 189.138 7.73145 190.569 7.24457C192 6.75769 193.523 6.46558 195.185 6.46558C197.354 6.46558 199.246 6.80637 200.861 7.53669C202.477 8.26701 203.769 9.24078 204.738 10.5067C205.754 11.7726 206.354 13.2332 206.585 14.8399H201.923C201.738 13.9635 201.369 13.1845 200.723 12.5516C200.123 11.9186 199.338 11.4317 198.415 11.0909C197.492 10.7501 196.385 10.5553 195.185 10.5553C193.754 10.5553 192.508 10.8475 191.446 11.383C190.384 11.9186 189.6 12.7463 189.046 13.7688C188.492 14.8399 188.215 16.1058 188.215 17.6151C188.215 19.1244 188.492 20.439 189.092 21.5101C189.692 22.5813 190.523 23.409 191.631 23.9445C192.738 24.5288 194.031 24.7722 195.554 24.7722C197.031 24.7722 198.323 24.5288 199.431 24.0419C200.538 23.555 201.415 22.8734 202.061 21.997C202.292 21.7049 202.431 21.3641 202.615 21.0233H197.861C196.984 21.0233 196.246 20.293 196.2 19.3679V19.1731C196.246 18.2481 196.984 17.469 197.861 17.469H206.815V17.5664Z"
            fill="#1A1A1A"></path>
        </svg>
      </a>
      <HeaderLink href="/about-us">about us</HeaderLink>
      <HeaderLink href="/network">network</HeaderLink>
      <HeaderLink href="/news" isDisabled={true}>news</HeaderLink>
      <HeaderLink href="/publications" isDisabled={true}>
        publications
      </HeaderLink>
    </div>
  </nav>
</header>
