---
import CmsImage from "./CmsImage.astro";
import type StrapiImage from "../interfaces/image";
const { images } = Astro.props;
---

<div class="bg-saw-long-background bg-no-repeat bg-right-top pt-16">
  <div class="max-w-screen-lg px-4 mx-auto mb-20">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      {
        images.map((image: StrapiImage) => (
          <div class="inline-block mb-8 aspect-[544/362]">
            <CmsImage
              image={image}
              class="w-full h-full object-cover"
              aspectRatio="544/362"
            />
          </div>
        ))
      }
    </div>
  </div>
</div>
