---
import "@fontsource-variable/unbounded";
import "@fontsource-variable/dm-sans";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { seoData } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} seoData={seoData} />
  </head>


  <body>
    <Header />
    <main class="flex-grow lg:py-8 pt-28">
      <slot />
    </main>
    <Footer />
    <script>
      import "../scripts/menu.js";
      import { autoSizes, lazyLoad } from "unlazy";

      autoSizes();
      lazyLoad();
    </script>
  </body>
</html>
